JIRA_BASE_URL=https://yourname.atlassian.net
JIRA_EMAIL=<<your email address>>
JIRA_TOKEN=<<atlassian API token>>


BAGEL_CZAR=<<Slack 'xoxb-' token>>
SIGNING_SECRET=<<Slack app signing secret>>
CHANNEL_ID=<<Slack channel ID>>
